.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridItem {
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        color: red;
        font-weight: 500;
    }
}

.gridItemc {
    width: 20%;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    color: white;

}

.lineaRoja {
    position: absolute;
    width: 8px;
    height: 80%;
    background-color: red;
    z-index: 1;
    text-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .lineaRoja {
        display: none;
        /* Estilos para pantallas pequeñas */
        left: 0;
        /* Ajusta la posición a la izquierda */
    }

    .gridItemc {
        display: none;
        margin-right: 10px;
        /* Agrega un margen derecho entre los íconos y las cards */
    }

}