
.btn-secondary.dropdown-toggle {
    color: var(--bs-nav-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover{
       color: var(--bs-nav-link-hover-color);
    }

}

