@import "../../styles/variables.scss";

.required::before {
  content: '*';
  color: red; /* Puedes ajustar el color según tu preferencia */
  margin-right: 4px; /* Ajusta el espacio entre el asterisco y el texto */
}


.templatemo_contacttitle {
  width: 100%;
  font-weight: bold;
  color: $secondary;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.templatemo_contact {
  margin: 30px;
  width: 100%;
  margin-left: 15%;
}

.templatemo_contactform input,
textarea {
  width: 100%;
  background: #282828;
  border: 1px solid #393939;
  padding: 7px 10px;
  margin: 0px 0px 10px 0px;
  background-color: #fafafa;
  border-radius: 8px;
}

.templatemo_contactform textarea {
  height: 100px;
}
.div-inputs {
  gap: 20px;
  > div {
    width: 100%;
  }
}
#subject {
  width: 45%;
}

.templatemo_contactform .btn-primary {
  width: 100px;
  background: $primary;
  border: none;
  border-radius: 8px;
  color: var(--bs-white);
  margin-top: 10px;
}

.templatemo_contactform .btn-primary:hover {
  background: $secondary;
  color: var(--bs-white);
}
