.container-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @media (max-width: 844px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mapa {
      width: 100%;
      height: 200;
    }
  }
}

.contacto {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
}
