.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;

    .subContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}
