.language-switcher {
    display: flex;
    flex-direction: row;
    gap: 8px;
  
    .boton-flag {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: none;
      border: none;
  
      .flag-container {
        margin-right: 5px; 
      }
  
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
  
      .language-code {
        color: black;
      }
  
      &.active {
        .language-code {
          color: red;
        }
      }
    }
  }
  