@import './styles/variables.scss';


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


.divider{
    height: 2px;
    background-color: black;
    width: 50px;
  
}

.principal{
display: flex;
flex-direction: column;
}

.contenedor {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua;
    
  }



  .boton {
    text-align: center;
    margin-top: 20px;
    background-color: $primary;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3%;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    box-shadow: 0 4px 6px rgba(34, 50, 137, 0.6);


}

.boton:hover {
    background-color: $secondary;
    color: black;
    box-shadow: 0 6px 8px rgba(255, 0, 0, 0.8);
}


.contenedorSecondary{
    z-index: 1;
  }
  
  .colorBackground {
    position: absolute;
    height: 90vh;
    width: 100vw;
    background-color: #0000006d;
    opacity: 0.8;
    overflow: 'hidden',
  }


  .eapps-widget-show-toolbar{
    margin-left: 5%;
    margin-right: 5%;
  }


  .serviciosDetalle{
    display: flex;
    width: 75%;
    align-self: center;
    flex-direction: column;
  
  }

  .menuServicios{
    margin-top: 5%;
  }